/*
body{
    background-color: green;
}
h1{
    color: indianred;
   text-align: center;    
}
.square{
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: auto;
}
#cicle{
    color: purple;
    font-size: 40px;
}
*/
.container {
    background: linear-gradient(green, yellow);
    box-shadow: 2px 2px 5px black;
   
}
h1 {
    color: #ffff; 
     text-shadow: 3px 3px 5px black;
}
h2{
    color: rgb(0,145,255);
    text-shadow: 3px 3px 5px lightblue;
}